<div class = "container">
  <div class = "row justify-content-center mb-3 font-pupupu">
    <h4><span class = "pink">推</span><span class = "sky-blue">し</span><span class = "purple">ご</span><span class = "green">と</span>とは・・・</h4>
  </div>
  <div class = "row justify-content-center mb-5">
    <p class = "text-center font-pupupu">このサイトは、みんなで<span class = "pink">推し</span>を<span class = "red">愛で</span>たり</br>
    イベントやグッズ発売日などのスケジュール管理をするためのサイトです</br>
    ぜひ推しを布教し合い</br>
    推しを全世界に広めて下さい</p>
  </div>
  <div class = "row justify-content-center mb-5">
    <%= image_tag "oshiboy.jpg", size: '400x200' %>
    <%= image_tag "oshigirl.jpg", size: '400x200' %>
  </div>
</div>

