<div class = "container">
  <div class = "row">
    <h4>検索結果 "<%= @keyword %>"</h4>
    <ul>
      <% @article.each do |article| %>
      <li>
        <%= link_to article_path(article.id) do %>
         <%= article.title %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>